/*
font-family: 'Saira Stencil One', cursive;
font-family: 'Montserrat', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background-color: black;
	font-size: 12pt;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.myDisplay-1 {
	font-family: 'Saira Stencil One', cursive;
	color: #68BD45;
}

.myDisplay-2 {
	font-family: 'Saira Stencil One', cursive;
	color: #68BD45;
}

.parall-gram {
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

a {
	text-decoration: underline;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}