/*
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
*/

html {
	background-color: black;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.myDisplay-1 {
	font-family: 'Bangers', cursive;
	color: #68BD45;
}

.myDisplay-2 {
	font-family: 'Bangers', cursive;
	color: #68BD45;
}

a {
	text-decoration: underline;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}